*{
    box-sizing:border-box;
    margin:0 auto;
    font-family: 'Nunito', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    padding: 2em 4em;;
    
}

h1 {
    margin: 0;
    text-transform:uppercase;
}
.logo{
    padding:10px;
}
.logo:hover{
    border-radius:50px;
    
    background-color:rgb(0, 0, 0);
    color:white;
}
nav{
    margin-right:0;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color:black;
    position: relative;
}

nav a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 1px;
    background-color: #000000;
    transition: all 0.3s;
    transform: translateX(-50%);
}

nav a:hover::before {
    width: 100%;
}

/* Médias querries pour téléphone (à revoir c'est de la merde)*/
@media (max-width: 450px) {
    header{
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    nav ul {
        margin-left: 0;
        display:flex;
    }

    nav li {
        margin-right: 0;
        margin-bottom: 10px;
        flex-direction: column;
    }

    nav {
        text-align: center;
    }
}

/*FIN DE LA NAV*/

/*DEBUT DU MAIN*/
.menu{
    display:flex;
    justify-content:space-between;
    padding:0 10em;
    height:80vh;
    align-items:center;
    
}
.menu *{
    align-items:center;
}
.carré{
    border:solid 1px;
    width:10em;
    height:10em;
    z-index:20;
    background-color:"";
    cursor: pointer;
    overflow: clip;
}
.rond{
    border:solid 1px;
    width:10em;
    height:10em;
    border-radius:10em;
    cursor: pointer;
}
#triangle-skillzbox{
    cursor: pointer;
    
}
.mainview{
    width:50em;
    height:50em;
    position:absolute;
    left:30%
}
.leftside{
    position: absolute;
    left:10%
}
.rightside{
    position: absolute;
    right:10%
}
div > p{
    font-size:2em;
}
.click{
    padding:1.7em 0 1.7em 5px;
}
.text-present{
    padding:1em 4em;
    text-align: center;
}
.test{
    transform:scale(6.5);
    position: relative;
    top: 46%;
    left:75%;
}
.page-title{
    position: absolute;
    background-color:black;
    width:500px;
    height:200px;
    padding:4.5em 2em;
    margin: 0 0;
    clip-path: polygon(0% 0%, 0% 100%, 66% 100%, 100% 0%);
}
.page-title > h1{
    color:white;
}
.main-project{
    position:relative;
    bottom:10%;
    
}
img{
    width:500px;

}
.projects-container{
    display:flex;
}
.left, .right{
    width:250px;
    position:relative;
    top:40%;
}
.center{
    position:relative;
    top:10%;
}
h2{
    position:relative;
    top:10%;
    text-align:center;
    text-transform:uppercase;
    padding:1em;
}
.left+h2, .right+h2{
    
    position: relative;
    top:40%;
    text-align:center;
}



